In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [4]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1857,tt0177971,120000000,325756637,The Perfect Storm,George Clooney|Mark Wahlberg|Diane Lane|John C...,Wolfgang Petersen,The storm is coming.,"In October 1991, a confluence of weather condi...",130,Drama,Warner Bros.|Baltimore Spring Creek Production...,3/15/2000,5.9,2000
445,tt1231587,36000000,64572262,Hot Tub Time Machine,John Cusack|Lizzy Caplan|Rob Corddry|Craig Rob...,Steve Pink,Kick some past,A malfunctioning time machine at a ski resort ...,101,Science Fiction|Comedy|Adventure,United Artists|Metro-Goldwyn-Mayer (MGM)|New C...,3/26/2010,5.9,2010
943,tt0307479,47000000,30002758,Solaris,George Clooney|Natascha McElhone|Viola Davis|J...,Steven Soderbergh,How far will you go for a second chance?,Upon arrival at the space station orbiting an ...,99,Drama|Science Fiction|Mystery|Romance,Twentieth Century Fox Film Corporation|Lightst...,11/27/2002,5.8,2002
744,tt1411238,25000000,147780440,No Strings Attached,Natalie Portman|Ashton Kutcher|Greta Gerwig|Ke...,Ivan Reitman,Friendship has its benefits.,Emma is a busy doctor who sets up a seemingly ...,108,Comedy|Romance,Paramount Pictures|Spyglass Entertainment|Kata...,1/12/2011,6.1,2011
876,tt0295701,70000000,277448382,xXx,Vin Diesel|Asia Argento|Marton Csokas|Samuel L...,Rob Cohen,A New Breed Of Secret Agent.,Xander Cage is your standard adrenaline junkie...,124,Action,Columbia Pictures|Original Film|Revolution Stu...,8/9/2002,5.7,2002

In [39]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [40]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [89]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [90]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]['original_title'].values[0]

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [91]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [92]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [93]:
data[data.runtime == data.runtime.max()]['original_title'].values[0]

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [94]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [95]:
data[data.runtime == data.runtime.min()]['original_title'].values[0]

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [96]:
answers['4'] = '4. 110'

In [97]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [98]:
answers['5'] = '1. 107'

In [99]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [100]:
answers['6'] = '5. Avatar (tt0499549)'

In [101]:
# лучше код получения столбца profit вынести в Предобработку что в начале
# добавим колонку "profit" и будем использовать ее в дальнейшем
data['profit'] = data.apply(lambda x: x['revenue'] - x['budget'], axis=1)
data[data.profit == data.profit.max()]['original_title'].values[0]

'Avatar'

# 7. Какой фильм самый убыточный?

In [102]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [151]:
data[data.profit == data.profit.min()]['original_title'].values[0]

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [104]:
answers['8'] = '1. 1478'

In [105]:
# добавим колонку 'diference' - что выделять прибыльные фильмы
data['diference'] = np.where((data['revenue'] >= data['budget']), data['revenue'], np.nan)
data['diference'].count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [106]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [153]:
data[(data['release_year'] == 2008) & (data['revenue'] == 1001921825)]['original_title'].values[0]

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [108]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [109]:
# создадим сначала новый dataframe только нужный периодом лет
data_new = data[data['release_year'].isin([2012, 2013, 2014])]
data_new[data_new['profit'] == data_new['profit'].min()]['original_title'].values[0]

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [146]:
answers['11'] = '3. Drama'

In [110]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
genre_max = Counter()
for x in data.genres.str.split('|'):
    genre_max += Counter(x)
genre_max.most_common(1)

[('Drama', 782)]

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [145]:
answers['12'] = '1. Drama'

In [111]:
data_profit = data[data['profit'] > 0]
pd.Series((data_profit.genres.str.split('|').sum())).value_counts().index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [147]:
answers['13'] = '5. Peter Jackson'

In [112]:
grouped_directors = data.groupby(['director']).sum().sort_values(['revenue'],ascending=False)
grouped_directors.head()

,budget,revenue,runtime,vote_average,release_year,profit,diference
director,,,,,,,
Peter Jackson,1288000000,6490593685,1355,58.1,16059,5202593685,6.490594e+09
Christopher Nolan,1005000000,4167548502,1135,61.1,16057,3162548502,4.167549e+09
David Yates,775000000,4154295625,567,29.6,8037,3379295625,4.154296e+09
Michael Bay,1126000000,3886938960,1209,50.0,16063,2760938960,3.886939e+09
J.J. Abrams,740000000,3579169916,633,35.1,10054,2839169916,3.579170e+09

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [148]:
answers['14'] = '3. Robert Rodriguez'

In [113]:
# создадим новый dataframe коорый содержит нужный жанр, потом разобьем режиссеров и посчитаем
data3 = data[data.genres.str.contains("Action", na=False)]
data3['director'].str.split('|').explode().value_counts()

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Patrick Hughes        1
Eli Roth              1
Henry Selick          1
Doug Lefler           1
Kevin Bray            1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [114]:
answers['15'] = '3. Chris Hemsworth'

In [115]:
data_2012 = data[data['release_year'].isin([2012])]
grouped_actors = data_2012.groupby(['cast']).sum().sort_values(['revenue'],ascending=False)
grouped_actors.head()

,budget,revenue,runtime,vote_average,release_year,profit,diference
cast,,,,,,,
Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chris Hemsworth|Scarlett Johansson,220000000,1519557910,143,7.3,2012,1299557910,1.519558e+09
Daniel Craig|Judi Dench|Javier Bardem|Ralph Fiennes|Naomie Harris,200000000,1108561013,143,6.8,2012,908561013,1.108561e+09
Christian Bale|Michael Caine|Gary Oldman|Anne Hathaway|Tom Hardy,250000000,1081041287,165,7.5,2012,831041287,1.081041e+09
Ian McKellen|Martin Freeman|Richard Armitage|Andy Serkis|Cate Blanchett,250000000,1017003568,169,6.9,2012,767003568,1.017004e+09
John Leguizamo|Ray Romano|Chris Wedge|Denis Leary|Seann William Scott,95000000,877244782,88,6.2,2012,782244782,8.772448e+08

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [116]:
answers['16'] = '3. Matt Damon'

In [117]:
data_budget = data[data['budget'] > data['budget'].mean()]
data_budget['cast'].str.split('|').explode().value_counts()

Matt Damon               18
Adam Sandler             17
Angelina Jolie           16
Eddie Murphy             15
Tom Cruise               15
                         ..
MaÃ¯ Anh Le               1
Jim Caviezel              1
Sydney Tamiia Poitier     1
John Ales                 1
Gary Sweet                1
Name: cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [118]:
answers['17'] = '2. Action'

In [119]:
data_cage = data[data.cast.str.contains("Nicolas Cage", na=False)]
data_cage['genres'].str.split('|', expand=True).stack().value_counts().to_frame('genres_count')

                 genres_count
Action                     17
Thriller                   15
Drama                      12
Crime                      10
Fantasy                     8
Adventure                   7
Comedy                      6
Science Fiction             4
Mystery                     3
Family                      3
Animation                   3
History                     2
Horror                      1
Romance                     1
War                         1

# 18. Самый убыточный фильм от Paramount Pictures

In [120]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [121]:
# отфильтруем нужную студио и найдем минимум
data_pp = data[data.production_companies.str.contains("Paramount ", na=False)]
data_pp[data_pp.profit == data_pp.profit.min()]['original_title'].values[0]

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [122]:
answers['19'] = '5. 2015'

In [123]:
# отфильтруем нужные года, сгруппируем и отсортируем по кассовым сборам
data_rev = data[data['release_year'].isin([2002, 2008, 2012, 2014, 2015])]
grouped_year = data_rev.groupby(['release_year']).sum().sort_values(['revenue'],ascending=False)
grouped_year

,budget,revenue,runtime,vote_average,profit,diference
release_year,,,,,,
2015,6780630004,25449202382,13355,755.2,18668572378,2.505532e+10
2014,7008050000,23405862953,13444,774.5,16397812953,2.299257e+10
2012,7002000000,23079001687,12145,682.1,16077001687,2.252657e+10
2008,6588900000,18252781990,12979,731.1,11663881990,1.758210e+10
2002,5134000000,14136361487,11528,653.1,9002361487,1.327086e+10

In [124]:
#Вариант 2. с группировкой и аггрегированием - берем максимальное значение revenue

data.groupby(by = 'release_year').agg({'revenue': 'sum'})

                  revenue
release_year
2000          10664099805
2001          13017764865
2002          14136361487
2003          14346123312
2004          15663430720
2005          15309425558
2006          14775042320
2007          18162406801
2008          18252781990
2009          20261791024
2010          21071204961
2011          22676791872
2012          23079001687
2013          23213799791
2014          23405862953
2015          25449202382

# 20. Какой самый прибыльный год для студии Warner Bros?

In [125]:
answers['20'] = '1. 2014'

In [126]:
# фильтруем колонку по содержанию в ней "Warner " и потом как в вопросе 19 вариант 2.
data_wb = data[data.production_companies.str.contains("Warner", na=False)]
data_wb.groupby(by = 'release_year', as_index=False, sort=False).agg({'profit': 'sum'})

    release_year      profit
0           2015   870368348
1           2014  2295464519
2           2009  1822454136
3           2010  1974712985
4           2001  1343545668
5           2008  2134595031
6           2011  1871393682
7           2002  1022709901
8           2012  1258020056
9           2003  1855493377
10          2013  1636453400
11          2005  1595278228
12          2006   617151739
13          2004  1631933725
14          2007  2208217007
15          2000   452631386

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [127]:
answers['21'] = '4. Сентябрь'

In [128]:
data['release_date'] = pd.to_datetime(data['release_date'], format='%m/%d/%Y')
data.release_date.dt.month.value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [129]:
answers['22'] = '2. 450'

In [130]:
summer = data.release_date.dt.month.value_counts(sort=False).reset_index()
summer.release_date[5:8].sum()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [131]:
answers['23'] = '5. Peter Jackson'

In [132]:
# сложно было отфильтровать зимние месяцы, помогло isin, дальше разбили режиссеров и посчитали.
data['month'] = data['release_date'].dt.strftime('%m')
data_winter = data[data.month.isin(['01', '02', '12'])]
data_winter['director'].str.split('|').explode().value_counts()

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Nancy Meyers         4
Adam Shankman        4
                    ..
Roger Michell        1
Judd Apatow          1
Cory Edwards         1
Eric Brevig          1
Martin McDonagh      1
Name: director, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [133]:
answers['24'] = '5. Four By Two Productions'

In [154]:
# в этом вопросе, решила создать новую df только с нужными столбцами для данного и следующего задания.
data_pc = pd.DataFrame(data, columns = ['production_companies', 'original_title', 'overview'])
data_pc['production_companies'] = data['production_companies'].str.split('|')

#добавили новые столбцы и разбили по студиям
data_pc['lenght_title'] = data.original_title.str.len()
data_pc['lenght_overview'] = data.overview.str.len()
data_pc = data_pc.explode('production_companies')

# посчитали длину значений и занесли их в новые солбцы
data_pc['lenght_title'] = data.original_title.str.len()
data_pc['lenght_overview'] = data.overview.str.len()
data_pc = data_pc.explode('production_companies')

# выделили строки с максимальным значение, выбрали нужный ответ
data_pc.loc[data_pc['lenght_title'].idxmax()]

,production_companies,original_title,overview,lenght_title,lenght_overview
1448,Twentieth Century Fox Film Corporation,Borat: Cultural Learnings of America for Make ...,Kazakh journalist Borat Sagdiyev travels to Am...,83,298
1448,Four By Two Productions,Borat: Cultural Learnings of America for Make ...,Kazakh journalist Borat Sagdiyev travels to Am...,83,298

In [7]:
#Вариант - я не сдала его, решение мне дали.
z = []
d = data_production_companies['original_title']
for i in d:
    z.append(len(i))
data_production_companies['original_title_lenght'] = z
data_production_companies.groupby(['production_companies'])['original_title_lenght'].mean().sort_values(ascending=False)

NameError: name 'data_production_companies' is not defined

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [137]:
answers['25'] = '3. Midnight Picture Show'

In [138]:
# используем df с предыдущего задания и выводим максиальную строку для искомого значения
data_pc.loc[data_pc['lenght_overview'].idxmax()]

,production_companies,original_title,overview,lenght_title,lenght_overview
711,Lions Gate Films,The Midnight Meat Train,The photographer Leon lives with his girlfrien...,23,1000
711,Lakeshore Entertainment,The Midnight Meat Train,The photographer Leon lives with his girlfrien...,23,1000
711,GreeneStreet Films,The Midnight Meat Train,The photographer Leon lives with his girlfrien...,23,1000
711,Midnight Picture Show,The Midnight Meat Train,The photographer Leon lives with his girlfrien...,23,1000

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [139]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [140]:
data.loc[data['vote_average']>data.quantile(0.99, numeric_only=True)['vote_average']]['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [141]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

In [142]:
list_cast = []
for actors in data.cast.str.split('|'):
    list_cast.append(actors)

import collections
import itertools

counts = collections.defaultdict(int)
for actor in list_cast:
    actor.sort()
    for pair in itertools.combinations(actor, 2):
        counts[pair] += 1

for pair, freq in counts.items():
    if freq > 5:
        print(pair, freq)

('Ben Stiller', 'Owen Wilson') 6
('Daniel Radcliffe', 'Emma Watson') 8
('Daniel Radcliffe', 'Rupert Grint') 8
('Emma Watson', 'Rupert Grint') 8
('Helena Bonham Carter', 'Johnny Depp') 6

# Submission

In [149]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'2': '2. Gods and Generals (tt0279111)',
 '20': '1. 2014',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '15': '3. Chris Hemsworth',
 '24': '5. Four By Two Productions',
 '1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '4. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint',
 '12': '1. Drama',
 '11': '3. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez'}

In [150]:
# и убедиться что ни чего не пропустил)
len(answers)

27